body{
   background-color:#8C7251 ;
}
#container {
    background-color:#402318 ;
    width: 950px;
    margin: 30px auto;
    border: 4px solid #D9B777 ;
    padding: 20px;
    border-radius: 20px;
}
header{
    text-align: center;
    padding: 50px;
}
header h1 {
    color: bisque;
    font-size: 30px
    

}
 
nav{
    text-align: center;
    border-top:4px solid #D9B777 ;
    border-bottom:4px solid #D9B777 ;
    padding: 20px; 
    
}
nav a{
    color: darkgoldenrod;
    font-size: 30px;
    text-decoration: unset;
    margin: 0 15px;
}
nav a:hover{
    color-scheme: initial;
    text-decoration: underline;
}
main h2{
    color: bisque;
    font-size: 25px;
    text-align: center;
}
main img{
    display: block;
    width: 250px;
    margin: 20px auto;
    border: 4px solid #D9B777 ;
    padding: 20px;
    border-radius: 20px; 
}
main {
     margin: 30px auto;
    border: 4px solid #D9B777 ;
    padding: 20px;
    border-radius: 20px;
    
}
main a{
    display: block;
    text-align: center;
    color: darkgoldenrod;
    font-size: 20px;
    text-decoration: unset;
    margin: 20px auto;
}
main a:hover{
    color-scheme: initial;
    text-decoration: underline;
}
footer{
    text-align: center;
    padding: 40px;
    border-top:4px solid #D9B777 ;
    margin-top: 20px;
}

p{
    color: bisque;
    font-size: 20px;
    text-align: center;
}