/* global styles */
body {
    background-color: lightgrey;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
    align-content: center;
    padding: 20px;
}
a {
    color: #333;
    text-decoration: none;
    }
a:hover {
    text-decoration: underline;
}
/* mobile styles */
header {
    background-image: url("../images/training1.avif");
    color: white;
    padding: 3%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
#container {
    padding: 20px;
    margin: 10px;
    border: 4px solid #0a0000;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
     display: flex;

}
nav ul {
   display: flex;
    list-style: none;
    margin: 0 20px;
    padding: 0;
    width: 100%;
    gap: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    margin-top: 10px;

}
nav ul li a:hover {
    text-decoration: underline;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.col {
    flex: 1 1 calc(33.333% - 10px);

}
/*  tablet styles */
@media (min-width: 768px) {
    nav li {
        display: inline;
    }
    nav li a {
        padding: 10px 20px;
        background-color: #0a0000;
        border-radius: 5px;
    }
    .col {
        flex: 1 1 calc(50% - 10px);
    }
}
@media (min-width: 480px) {
    .col {
        flex: 1 1 100%;
    }
}
section img {
    width: 50%;
    height: auto;
}
main {
    padding: 10px;
    margin: 10px;
}

main_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.col {
    flex: 1 1 calc(50% - 20px);
margin: 10px;
}
col img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    border: 2px solid #0a0000;
}
iframe {
    width: 100%;
    height: 400px;
    border: none;
    margin-top: 20px;
}