/* global styles */

body {
    background-color: lightgrey;
}

img {
    width: 100%;
    display: block;
    margin: 0 auto;
    align-content: center;
    padding: 20px;
}
a {
    color: #333;
    text-decoration: none;
    }
a:hover {
    text-decoration: underline;
}
/* mobile styles */
header {
    background-image: url("../images/training1.avif");
    color: white;
    padding: 3%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
#container {
    padding: 20px;
    margin: 10px;
    border: 4px solid #0a0000;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    

}
nav ul {
   display: flex;
    list-style: none;
    margin: 0 20px;
    padding: 0;
    width: 100%;
    gap: 15px;
}
nav ul li a {
    display: flex;
    color: white;
    text-decoration: none;
    display: block;
    height: auto;
    line-height: 4%;
    font-size: auto;
    margin-top: 10px;

}
nav ul li a:hover {
    text-decoration: underline;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.col {
    flex: 1 1 calc(33.333% - 10px);

}

section img {
    width: 50%;
    height: auto;
}
main {
    padding: 10px;
    margin: 10px;
}

.classmain_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.col {
    flex: 1 1 calc(50% - 20px);
margin: 10px;
}
col img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    border: 2px solid #0a0000;
}
iframe {
    width: 100%;
    height: 400px;
    border: none;
    margin-top: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
/*  tablet styles */
@media (min-width: 768px) {
    nav li {
        display: inline-block;
    }
    nav li a {
        padding: 10px 20px;
        background-color: #0a0000;
        border-radius: 5px;
        display: inline-block;
    }
    .col {
        flex: 1 1 calc(50% - 10px);
    }
}
@media (min-width: 480px) {
    .col {
        flex: 1 1 100%;
    }
}
.col img {
    width: 65%;
    height: auto;
    border-radius: 2px;
    border: 2px solid #0a0000;
}
/* desktop styles */

@media (min-width: 1024px) {
         #container {
    
        width: 65%;
        margin: 20px auto;
        background-color: grey;
        padding: 20px;
        border: 4px solid #0a0000;}

    .gallery {
        display: flex;
    }
    .col {
        flex: 1 1 calc(15% - 20px);
    
    }
}
.col img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    border: 2px solid #0a0000;
    padding: 10px;
}