body {
    background-color: rgb(12, 56, 252);
}

img {
    border: 5px solid black;
    display: block;
    margin: 0 auto;
    width: 80%;
    background-color: azure;
}
a {
    color: black;
}

a:hover {
    color: blueviolet;
    text-decoration: underline;
}
#container {
    background-color: rgb(194, 46, 46);
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 4px solid black;
    border-radius: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}
header h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 10px 0;
    
}

p {
    background-color: lightgray;
    padding: 10px;
    border: 2px solid black;    
    border-radius: 10px;
}
ul {
    padding-left: 20px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 0;
}

nav {
    margin-bottom: 20px;
    text-align: center; 
    border-bottom: 2px solid black;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}


nav li a {
    display: block;
    background-color: lightgray;
    text-decoration: none;
    font-size: 25px;
    width: 100px   ;
    height: 25px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    line-height: 25px;
    border-radius: 10px;

}
nav li a:hover {
    background-color: gray;
    color: white;
}

main h2 {
    font-size: 40px;
    text-align: center;
    color: black;
}
.multi-column {
    display: flex;
    column-count: 2;
    column-gap: 40px;
}
main img{
    display: block;
    width: 30%;
    margin: 20px auto;
    border: 4px solid #D9B777 ;
    padding: 20px;
    border-radius: 20px; 
}
section, aside {
    margin-bottom: 20px;
    margin: 10px;
    padding: 10px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
}
section {
    width: 75%;
}
aside {
    width: 25%;
}
section img {
    border-radius:  10px;
    border: 2px solid black;
    width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;    
}
footer {
    text-align: center;
    margin-top: 2px;
    border-top: 2px solid black;
    padding: 40px 0;
}
iframe {
    display: block;
    margin: 0 auto;
    border: 4px solid black;
    border-radius: 20px;
}
 